body {
    font-family: 'Poppins', sans-serif;
}

.part1 {
    height: 100vh;
    background: url("../images/bg_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 30%; 
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
 @media only screen and (max-width:768px) {
     .navbar {
         background: rgba(0, 0, 0, 0.8);
         position: fixed;
         width: 100%;
         left: 0;
         top: 0;
     }
 }

 .part1 .navbar-brand {
    font-size: 20px;
    font-weight: 600;
 }

 .part1 .navbar li {
     margin-left: 15px;
 }

.part1 .navbar li a {
    font-size: 15px;
    color: white !important;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.2s;
}

.part1 .navbar .navbar-nav .active a {
    color: #f7b71d !important;
}

.part1 .navbar .navbar-nav a:hover {
    color: #f7b71d !important;
}

.part1 .container .row {
    height: 90vh;
    display: flex;
    align-items: center;
}

.jumbotron {
    background: rgba(0, 0, 0,0.0001);
}

.part1 .jumbotron p {
    font-size: 22px;
}

.part1 .rightside{
    padding: 25px;
    border-radius: 5px;
}

.part1 .rightside h3 {
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
}

.part1 .rightside .form-group label {
    color: black;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.part1 .rightside input[type="submit"] {
    background-color: #f7b71d !important;
    border: none;
    padding: 15px 0;
}



@media only screen and (max-width:768px) {
    .part1 {
        height: 1100px;
    }
}
/* 1.part end */

/* 2.part start */

.part2 label {
    font-size: 16px;
    font-weight: 600;
}

.part2 select {
    font-size: 13px;
}

.part2 .btn {
    margin-top: 28px;
    background-color: #f7b71d !important;
    border: none;
}

/* 2.part end */

/* 3.part start */

.part3 p {
    color: #f7b71d !important;
    font-size: 16px;
    font-weight: 800;
}

.part3 h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 80px;
}

.part3 i {
    font-size: 30px;
    color: #f7b71d !important;
}

.part3 h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    display: inline-block;
}

.part3 .tag p {
    font-size: 18px;
    font-weight: 500;
    color: #454545 !important;
    line-height: 30px;
    margin-top:20px ;
    text-align: left;
}

/* 3.part end */

/* 4.part start */

.part4 {
    margin-top: 100px;
}

.part4 p {
    font-size: 16px;
    color: #f7b71d !important;
    font-weight: 600;
}

.part4 h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
}


.part4 .card-title {
    font-size: 20px;
    color: #000;
}

.card-body .content  {
    color: rgba(0, 0, 0, 0.4) !important;
}

.part4 .btn:hover {
    background-color: #f7b71d !important;
    border: none;
    color: white;
}

/* 4.part end */

/* 5.part start */

.part5 {
    height: 75vh;
    background: url("../images/bg_2.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.part5 .topside>p {
    margin-top: 120px;
    font-size: 16px;
}

.part5 h2 {
    font-size: 40px;
    margin-bottom: 100px;
}

.part5 .img {
    width: 85px;
    height: 85px;
    border: 2px solid #f7b71d ;
    border-radius: 100%;
    font-size: 30px;
    padding: 19px;
    margin: 0 auto;
}

.part5 h3 {
    font-size: 18px;
    font-weight: 800;
}

.part5 h3+p {
    color: rgb(255, 255, 255,0.8) !important;
    line-height: 25px;
   
}

@media only screen and (max-width:768px)  {
    .part5{
        height:1200px;
    }
}

/* 5.part end */

/* 6.part start */

.part6>p {
    font-size: 16px;
    color: #f7b71d;
    font-weight: 600;
}

.part6 h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 100px;
}

.part6 img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.part6 .card-body p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: #666;
}

.part6 .card-body h5 {
    font-size: 20px;
    font-weight: 700;
    color: #f7b71d;
}

.part6 .card-body span {
    font-size: 16px;
    color: #ccc;
    font-weight: 600;
}

/* 6.part end */

/* 7.part start */

.part7 {
    margin-top: 150px;
}

.part7 .leftside {
    background: url("../images/about.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.part7 .rightside .about {
    color: #f7b71d !important;
    font-weight: 600;
    font-size: 16px;
}

.part7 .rightside h3 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

.part7 .rightside .content p{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    color: #666;
}

.part7 .btn {
    background-color: #f7b71d;
    color: white;
    border: none;
}

@media only screen and (max-width:768px) {
    .part7 .leftside {
        height: 500px;
    }
}

/* 7.part end */

/* 8.part start */

.part8{
    margin-top: 100px;
    background-color: #000;
    padding: 80px 0;
}

.part8 h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
}

.part8 p {
    line-height: 1.8;
    color: rgba(255,255,255,0.8);

}

.part8 ul.information  {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.part8 ul.information li {
    display: block;
    margin-bottom: 10px;
}

.part8 ul.information li a {
    text-decoration: none;
    color: rgb(255, 255, 255,0.7);
}

.part8 ul.address {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.part8 .address i {
    color: white;
    float: left;
    margin-right: 5px;
    margin-top: 6px;
}

.part8 .address p {
    line-height: 1.8;
    color: rgba(255,255,255,0.8);
    
}

.part8 .socialmedia i {
    display: inline-block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #171717;
    padding: 12px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.part8 .licence p {
    color: rgb(255, 255, 255,0.7);

}